# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Entorno de pruebas
.pytest_cache/
.coverage
htmlcov/

# Archivos Generados
historial_fallas.csv
*.log

# IDEs
.vscode/
.idea/
*.swp
.ipynb_checkpoints/
